button img{
    width: 3rem;
    height: 1.5rem;
}

header {
    width: 100%;
    height: 10.125rem;
    background: url("../../assets/desktop/bg-pattern-header.svg") no-repeat;
    display:flex;
    background-size: cover;
    justify-content: center;
    position: relative;

}

button img{
    width: 3rem;
    height: 1.5rem;
}

