<main class=" w-full flex flex-col items-center relative top-[calc(-2rem)]">
<div class="dark:bg-[#19202D] w-[80%] bg-white rounded-xl h-[5rem] flex flex-col md:flex-row justify-between lg:w-[76%]" >
    <div class="w-[40%] w-full flex items-center pl-1 ml-4 border-b  lg:border-r border-gray-400 md:border-0 md: hidden  lg:flex">
        <img src="../assets/desktop/icon-search.svg" alt="search" class="md:pr-2">
        <input type="text" [(ngModel)]="filterTitle" placeholder="Filter by title, companies, expertise…"
            class="w-full outline-none pl-1::placeholder ml-1.5 dark:bg-[#19202D] ">
        </div>
    <div class=" md:w-[30%] w-full flex items-center pl-1 ml-4 border-b  md:border-r border-gray-400 md:border-0 md:flex lg:hidden">
        <img src="../assets/desktop/icon-search.svg" alt="search" class="md:pr-2">
        <input type="text" [(ngModel)]="filterTitle" placeholder="Filter by title...."
            class="w-full outline-none pl-1::placeholder ml-1.5 dark:bg-[#19202D] ">
        </div>
    
    <div class=" md:flex w-[30%] w-full flex items-center pl-2 border-b md:border-r border-gray-400 md:border-0 md:pl-2 md:mr-33 md:hidden lg:flex">
        <img src="../assets/desktop/icon-location.svg" alt="location" class="pr-2">
        <input [(ngModel)]="filterLocation" class="w-full outline-none pl-1::placeholder ml-1.5 dark:bg-[#19202D]"
            type="text" placeholder="Filter by location..." />
    </div>

    <div class="hidden md:flex md:w-[25%] items-center justify-between border-b md:border-r border-gray-400 md:border-0 relative right-4  lg:hidden ">
        <img src="../assets/desktop/icon-location.svg" alt="location"  >
        <input [(ngModel)]="filterLocation" class="w-full outline-none pl-1::placeholder ml-1.5 dark:bg-[#19202D]"
            type="text" placeholder="Filter by location..." />
    </div>

    <div class="hidden md:flex md:w-[30%] w-full flex items-center pl-1 md:mr-5 md:hidden lg:flex">
        <input [(ngModel)]="filterFullTime" type="checkbox" id="myCheckbox">
        <label class="font-bold p-1 w-full outline-none pl-1::placeholder ml-1.5 dark:bg-[#19202D] dark:text-white"
            for="myCheckbox">Full Time Only</label>
            <button (click)="search()" class="bg-[#5964E0] text-white font-bold py-4 px-8 rounded-lg cursor-pointer text-base ml-7 md:ml-0 mt-2 md:mt-0  md:w-36 h-12 focus:outline-none hover:bg-[#939BF4]">Search</button>
    </div>
    <div class="hidden md:flex justify-between md:w-[30%] w-full flex items-center pl-1 md:mr-5 lg:hidden ">
        <input [(ngModel)]="filterFullTime" type="checkbox" id="myCheckbox" >
        <label class="font-bold w-full outline-none pl::placeholder ml-1 dark:bg-[#19202D] dark:text-white"
            for="myCheckbox">Full Time Only</label>
            <button (click)="search()" class="bg-[#5964E0] text-white font-bold py-4 px-8 rounded-lg cursor-pointer text-base ml-7 md:ml-0 mt-2 md:mt-0  md:w-36 h-12 focus:outline-none hover:bg-[#939BF4]">Search</button>
    </div>
</div>



    <div class=" grid lg:grid-cols-3 md:grid-cols-2 gap-x-[1rem] gap-y-[2rem] mt-[3rem] w-[80%] lg:w-[76%]">
<div *ngFor="let card of filteredCards" class="dark:bg-[#19202D] w-full h-[15rem] bg-[#fff] rounded-[1rem] relative" (click)="onCardClicked(card)">
            <div [style.background]="card.logoBackground"
                class="w-[3.125rem] ml-[3rem] h-[3.125rem] flex justify-center items-center rounded-[1rem] absolute top-[-1.3rem]">
                <img [src]="card.logo" alt="logo">
            </div>
            <div class="w-[17.875rem] h-[9.188rem] ml-[3rem] absolute top-[2rem]">
                <p class="text-[#6E8098] pt-[.8rem]">{{card.postedAt}} . {{card.contract}}</p>
                <p class="text-[.9rem] dark:text-white font-bold md:text-[1rem] pt-[.5rem] pb-[.2rem] md:text-[1rem]">{{card.position}}</p>
                <p class="text-[#6E8098]">{{card.company}}</p><br>
                <p class="text-[#5964E0]">{{card.location}}</p>
            </div>
        </div>
    </div>
    <button *ngIf=" showLoadMoreBtn " (click)="loadMore()"  class="bg-[#5964E0] mt-[2rem] text-white font-bold py-4 px-8 rounded-lg cursor-pointer text-base ml-6 w-36 h-12 focus:outline-none
    hover:bg-[#939BF4]">Load More</button>
</main> 