<section class="w-full flex flex-col items-center relative top-[calc(-2rem)]" *ngIf="selectedJob">
    <div class="dark:bg-[#19202D] w-[85%] h-[7rem] flex justify-between items-center rounded-[1rem] bg-[#fff] relative lg:w-[55%]">
        <div [ngStyle]="{ 'background': selectedJob.logoBackground }"
            class="flex justify-center items-center w-[7rem] h-[7rem] rounded-[1rem]">
            <img class="h-[1.3rem]" [src]="selectedJob.logo" alt="logo">
        </div>
        <div class="absolute left-[8rem]">
            <h2 class="dark:text-white h-[1.3rem] font-bold">{{ selectedJob.company }}</h2>
            <p class="text-[#6E8098]">{{ selectedJob.company }}.com</p>
        </div>
<button
    class=" absolute right-[4rem] w-[11rem] h-[3.23rem] bg-gray-300 text-indigo-600 px-8 py-4 rounded-lg cursor-pointer text-base ml-16 hover:text-indigo-600 focus:outline-none">Company
    Site</button>
    </div>
    <div class="dark:bg-[#19202D] rounded-[1rem] bg-[#fff] w-[85%] mt-[2rem] p-[4rem] lg:w-[55%]">
        <div class="flex justify-between items-center w-full">
            <div>
                <p class="dark:text-[#9DAEC2] text-[#6E8098] pt-[.8rem]">{{ selectedJob.postedAt }} . {{ selectedJob.contract }}</p>
                <p class="font-bold text-[2rem] pt-[.3rem] pb-[.2rem] dark:text-white md:text-[1.3rem]" >{{ selectedJob.position }}</p>
                <p class="text-[#5964E0]">{{ selectedJob.location }}</p>
            </div>
            <button class="  w-[11rem] h-[3.23rem] bg-gray-300 text-indigo-600 px-8 py-4 rounded-lg cursor-pointer text-base ml-16 hover:text-indigo-600 focus:outline-none">Apply Now</button>
        </div>
        <div>
            <br>
            <p class="text-[#6E8098]">{{ selectedJob.description }}</p> <br>
            <p class="font-bold text-[1.5rem] dark:text-white">Requirements</p><br>
            <p class="text-[#6E8098]">{{ selectedJob.requirements.content }}</p> <br>
<ul class="text-[#6E8098]">
    <li *ngFor="let item of selectedJob.requirements.items" class="flex ">
        <span class="text-blue-500 text-fold text-2xl">&#8226;</span> <span class="ml-2">{{ item }}</span>
    </li>
</ul><br> 


            <p class="font-bold text-[1.5rem] dark:text-white">What You Will do</p><br>
            <p class="text-[#6E8098]">{{ selectedJob.role.content }}</p> <br>
<ol class="text-[#6E8098]" >
    <li *ngFor="let item of selectedJob.role.items; let i = index" class="flex ">
        <span class="text-blue-500 font-bold">{{ i + 1 }}.</span><span class="ml-2">{{ item }}</span><br>
    </li>
</ol>

            <br>
        </div>
    </div>
</section>
<footer class=" dark:bg-[#19202D] w-full flex flex-col items-center bg-white" *ngIf="selectedJob" >
    <div class="w-[85%] h-[7rem] flex justify-between p-[1rem] lg:w-[55%]">
        <div>
            <h2 class="dark:text-white font-bold text-[1.3rem]">{{ selectedJob.position }}</h2>
            <p class="text-[#6E8098]">{{ selectedJob.company }}</p>
        </div>
        <button class="  w-[11rem] h-[3.23rem] bg-gray-300 text-indigo-600 px-8 py-4 rounded-lg cursor-pointer text-base ml-16 hover:text-indigo-600 focus:outline-none">Apply Now</button>
    </div>
</footer>